---

import About from "../components/About";
import Home from "../components/Home";
import Portfolio from "../components/Portfolio";
import Services from "../components/Services";
import Layout from "../layouts/Layout.astro";
import RecentBlog from "../components/RecentBlog.astro";


---

<Layout title="HOOMAN DIGITAL">
	<main>
		<Home />
		  <About/>
		  <Services/>
		  <Portfolio/>
		  
		<div class="px-5 sm:px-16 md:px-28">
			<RecentBlog/>
		</div>
	</main>
</Layout>