---
const {title} = Astro.props
import Home from "../components/Home";
import Navbar from "../components/Navbar";
import About from "../components/About";
import Services from "../components/Services";
import Portfolio from "../components/Portfolio";
---

<html lang="en">
  <>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="xyz" content="Blog">
    <title>{title}</title>
    
  </>
  <body>
    <main>
      <Navbar />
	  <Home />
	  <About/>
	  <Services/>
	  <Portfolio/>
        <slot/> 
    </main>
  </body>
</html>